$primary: #3a3a3a;
$secondary: #f7ad1e;
$accent: #9c27b0;

$dark: #1d1d1d;

$positive: #21ba45;
$negative: #c10015;
$info: #31ccec;
$warning: #f2c037;


$color1:#1d262c;
$color2:#3388c1;
$color3:#d3d6db;
$color4:#007c4a;
$color5:#ff8b14;
$color6:#009edd;
$color7:#eb5833;